@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}
a {
	text-decoration: none;
}
#hero .container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* hero section*/
#hero {
	background-image: url(./assets/img/DSC_0567.JPG);
	background-size: cover;
	background-position: top center;
	position: relative;
}
#hero::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: chartreuse;
}
#hero .cta {
	display: inline-block;
	padding: 10px 30px;
	color: crimson;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
#hero .cta:hover {
	color: white;
	background-color: crimson;
}

/*end hero section*/

/* puducherry view */
#puducherry .container {
	background-color: aliceblue;
}
#puducherry .puducherry {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#puducherry .section-title {
	font-size: 4rem;
	font-weight: 300;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;
}
#puducherry .section-title span {
	color: crimson;
}

#puducherry .puducherry-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
#poducherry .puducherry-bottom {
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#puducherry .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: yellow;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;
}
#puducherrry .box .imgBox {
	position: relative;
}
#puducherry .box .imgBox img {
	width: 300px;
	height: 300px;
}
#puducherry .container .box .imgBox img {
	max-width: fit-content;
	transition: transform 1s;
}

#puducherry .container .box:hover .imgBox img {
	transform: scale(1.2);
}

/* end puducherry view */
#ganalufall .container {
	flex-direction: column;
	text-align: center;
	color: dimgray;
	max-width: 1800px;
	margin: 0 auto;
	padding: 100px 0;
}
#ganalufall .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;
}
#ganalufall .section-title span {
	color: crimson;
}

#ganalufall .ganalufall-top p {
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
#ganalufall .ganalufall-bottom {
	margin: 70px auto 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#ganalufall .box {
	position: relative;
	width: 300px;
	height: 300px;
	background: yellow;
	margin: 20px;
	box-sizing: border-box;
	display: inline-block;
}
#ganalufall .box .imgBox {
	position: relative;
}
#ganalufall .box .imgBox img {
	width: 300px;
	height: 300px;
}
#ganalufall .container .box .imgBox img {
	max-width: fit-content;
	transition: transform 1s;
}

#ganalufall .container .box:hover .imgBox img {
	transform: scale(1.2);
}

/* about me */
#about .container {
	flex-direction: column-reverse;
	background-color: rgb(53, 58, 61);
	text-align: center;
	max-width: 1800px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-right h1 .section-title {
	text-align: center;
	width: 100px;
}
#about .col-right h2 {
	font-size: 1.8rem;
	text-align: center;
	color: crimson;
	font-weight: 500;
}
#about .section-title {
	font-size: 4rem;
	font-weight: 300;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1rem;
	text-align: center;
}

#about .section-title span {
	color: crimson;
}

#about .h2 {
	display: inline-block;
	padding: 10px 20px;
	color: crimson;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top: 10px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
#about .h2:hover {
	color: white;
	background-color: crimson;
}

/* end about me */
